NODE_ENV=development
PORT=3000
PREFIX=api
VERSION=1
CORS=true
ERROR_FILTER=true
LOG_ON=false

DATABASE_URL=postgresql://pguser:example@localhost:5432/testdb?schema=public
MYSQL_DATABASE_URL=mysql://root:example@localhost:3307/testdb

TENANT_MODE=false
TENANT_DB_TYPE=typeorm,prisma,mongoose
TENANT_DB_DEFAULT=prisma

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=example
DB_DATABASE=testdb
DB_AUTOLOAD=true
DB_SYNC=false

REDIS_ON=false
REDIS_TYPE=single
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
CACHE_TYPE=memory
CACHE_TTL=60000
CACHE_MAX_ITEMS=100

MAIL_ON=false
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=NestJS Starter <noreply@example.com>
